@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@700&family=Nunito:wght@600&display=swap');

* {
    font-family: "Nunito",sans-serif;
}

.buttonColor {
    background-color: rgba(35, 57, 255, 0.56);
    padding: 7px 100px 7px 100px;
    border-radius: 15px;
}

.containerText{
    background-color: rgba(35, 57, 255, 0.56);
    border-radius: 15px;
}

.buttonColor:hover {
    background-color: rgba(0, 20, 205, 0.56);
}

.navbarColor {
    background-color: rgba(35, 57, 255, 0.56);
}